pane_template name="content_single_open" split_direction="vertical" {
    pane name="sidebar" size=32 borderless=false @sidebar@
    pane stacked=true {
        children;
    }
}

pane_template name="content_single_closed" split_direction="vertical" {
    pane name="sidebar" size=1 borderless=false @sidebar@
    pane stacked=true {
        children;
    }
}

pane_template name="content_columns_open" split_direction="vertical" {
    pane name="sidebar" size=32 borderless=false @sidebar@
    pane split_direction="vertical" {
        pane
        pane stacked=true {
            children;
        }
    }
}

pane_template name="content_columns_closed" split_direction="vertical" {
    pane name="sidebar" size=1 borderless=false @sidebar@
    pane split_direction="vertical" {
        pane
        pane stacked=true {
            children;
        }
    }
}

swap_tiled_layout name="single_open" {
    ui min_panes=4 {
        content_single_open
    }
}

swap_tiled_layout name="single_open_no_hints" {
    ui_no_hints min_panes=3 {
        content_single_open
    }
}

swap_tiled_layout name="single_closed" {
    ui min_panes=4 {
        content_single_closed
    }
}

swap_tiled_layout name="single_closed_no_hints" {
    ui_no_hints min_panes=3 {
        content_single_closed
    }
}

swap_tiled_layout name="columns_open" {
    ui min_panes=5 {
        content_columns_open
    }
}

swap_tiled_layout name="columns_open_no_hints" {
    ui_no_hints min_panes=4 {
        content_columns_open
    }
}

swap_tiled_layout name="columns_closed" {
    ui min_panes=5 {
        content_columns_closed
    }
}

swap_tiled_layout name="columns_closed_no_hints" {
    ui_no_hints min_panes=4 {
        content_columns_closed
    }
}
